section{
    align-items: center;
    background-color: #DCE1E7;
    border-radius: 1.5rem;
    padding: 2rem;
    margin-top: 2rem;
}

table{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #DBE7F5;
}

.contenido{
    align-items: center;
}