.btnacept{
    font-family: 'Inter', sans-serif;
    background-color: #A4F6B2;
    color: black;
    text-align: center;
    width: auto;
    height: 50%;
}
.btnacept:hover{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #00D323;
    color: white;
    text-align: center;
    width: auto;
    height: 90%;
}